@{
    ViewBag.Title = "Email Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ParentController = "Account";
    ViewBag.ParentAction = "Login";
    ViewBag.ParentTitle = "Start";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Activate your account by clicking on the link we sent to your email .
</p>

